

* {
  margin: 0;
  padding: 0;
}

.main-div {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  width: 100%;
  
  
}

h1 {
  text-align: center;
}



/* hero section two */

.bg-dark {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.bg-light {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}


.btn-dark {
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  border-radius: 9px;
  margin-top: 20px;
  
}

.btn-light {
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  border-radius: 9px;
  margin-top: 20px;
  color: black;
  outline: none;
  
  
}